body {
    font-family:'Poppins',sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 3, 3);
    padding: 1rem;
}

.navbar .logo {
    font-weight: bold;
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 1rem;
    text-indent: 10%;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.home {
    text-align: center;
    margin: 3 rem;
    padding: 0;
}

.triangle-up {
  margin-left: 522px;
	width: 10px;
	height: 0px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 41px solid #000000;
}

section {
    margin: 0.5em auto;
    max-width: 1100px;
    background: #fff;
    padding: 2em;
    border-radius: 8px;
}

.certification-link {
  text-decoration: none;
  color: #031f2f;
}

.certification-link:hover a{
  color: rgb(17, 98, 10);
}

#blogForm textarea, #blogForm input {
     width: 100%;
    margin-bottom: 1em; 
}



footer {
    text-align: center;
    background-color: rgb(41, 3, 3);
    color: #fff;
    padding: 1rem;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
}

.fa:hover {
    opacity: 0.5;
}

.fa-envelope {
    background-color: rgba(13, 136, 223, 0.895);
    color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #bb14dc;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

button {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
